*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    
}
body{
    --botBackgroundColor:#F2F2F2;
    --backgroundImage:url('images/bg-desktop-light.jpg');
    --backgroundImageMobile:url('images/bg-mobile-light.jpg');
    --todoTextColor:#494C6B; /*confirm hsl*/
    --itemBackgroundColor:white;
    --boxShadow:0 35px 40px rgba(200,200,200,0.5);
    --boxShadowMob: 0 0 20px rgba(200,200,200,1);
    --bottomMenuTextColor:#9495A5;
    --textInputColor:#393A4B;
    --placeHolderColor:var(--bottomMenuTextColor);
    --seperatorColor:#979797;
    --moonDisplay:block;
    --sunDisplay:none;
    --buttonsHoverColor:#494C6B;
    --strikeThroughColor:#D1D2DA;



   
    background-color: black;
    /* padding:5%;  */
    width:100%;
    height:100vh;
}

body.dark{
    --botBackgroundColor:#111; 
    --backgroundImage:url('images/bg-desktop-dark.jpg');
    --backgroundImageMobile:url('images/bg-mobile-dark.jpg');
    --todoTextColor:#C8CBE7;
    --itemBackgroundColor:#25273D;
    --boxShadow:0 0 0 #393A4B;
    --boxShadowMob:var(--boxShadow)
    --bottomMenuTextColor:#5B5E7E;
    --textInputColor:#C8CBE7;
    --moonDisplay:none;
    --sunDisplay:block;
    --buttonsHoverColor:#E3E4F1;
    --strikeThroughColor:#4D5067;
}


main{
    width:100%;
    height:100vh;
    position:relative;
}
#topItem{
    width: 100%;
    height: 36%;
    background-image: var(--backgroundImage);
    background-size: contain;
}
#botItem{
    width: 100%;
    height: 64%;
    background-color: var(--botBackgroundColor);
}
#midItem{
    width:40%;
    height: 100%;
    /* border:1px solid red; */
    
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}

#titleMode{
    width:100%;
     height:18%;                                  /*title 20 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}
h1{
   letter-spacing: 10px; 
   color:#fff;
}

/* all buttons */
button{
    background-color:transparent;
    border:none;
}

/* for dark and light mode */
#modeBtn{
    width:10%;
    display: flex;
    justify-content: flex-end;
}
#moon{
    display:var(--moonDisplay);
}
#sun{
    display:var(--sunDisplay);
}



#listDiv{
    /* position:relative; */
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    width:100%;
    height:55%;                                     /*listDiv  65*/
    /* border:1px solid black; */
    overflow:hidden;
}
#listContainer{
    height:100%;   
    /* border:2px solid black;                                */
    display:flex;
    flex-direction: column;
    justify-content: center;
}



li{
    list-style: none;
}

#addTodo{
    display:flex;
    align-items:center;
    width:100%;
    height:8%;                                  /*addTodo 12*/
    /* border: 2px solid green; */
    background-color: var(--itemBackgroundColor);
    border-radius: 3px;
    margin-bottom: 4%;
   
}
input[type='text']{
    width:85%;
    font-size: 18px;
    line-height:3em;
    height: 90%;
    border:none;
    outline:none;
    margin-right: 3%;
    caret-color: hsl(220, 98%, 61%) ;
    background-color: var(--itemBackgroundColor);
    color:var(--textInputColor);
}
::placeholder {
    color:var(--placeHolderColor);
    opacity: 1; /* Firefox */
  }











/* ----------------list item------------------------------ */

.item{
    
    display:flex;
    align-items:center;
    background-color:var(--itemBackgroundColor);
    height: 14.5%;                                   /*item  12*/
    border-bottom: 1px solid #979797;;
        font-size:18px;
        
    }

.bullet{
    margin:0 3%;
    width:1.1em;
    height: 1.1em;
    /* color:red; */
    /* border:1px solid #979797; */
    border:1px solid #595A7B;
    
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding:5%; */
}
.bullet:hover{
    border-color:hsl(220, 98%, 61%);
}

.checkedTodo{ /*to be assigned in js to .bullet when input type checkbox is checked*/
    background-image:url('images/icon-check.svg'), linear-gradient(120deg,hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position:center;
}

input[type='checkbox']{
    width:0.7em;
    height:0.7em;
    opacity:0;
    cursor:pointer;
   
}

.todo{
    width:82.5%;
    color: var(--todoTextColor);
}
.todo:hover + .delete,.delete:hover{
    opacity:1;
}




.done{ /*to be assiged in js to .todo when task is completed*/
    text-decoration:line-through;
    /* opacity:0.4; */
    color:var(--strikeThroughColor);
   
}

.delete{
    cursor:pointer;
    /* color:#494C6B; */
      opacity:0;
}






/* ---------------------------------bottom menus------------------------------------ */




#bottomMenu{
    /* height: */
    background-color:var(--itemBackgroundColor);
    color:var(--bottomMenuTextColor);
    height:13%;                         /*bottomMenu 9*/
    /* border:1px solid green; */
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding:0 3% ;
}

#bottomMenuMob{
    display: none;
}

#bottomMenu div{
    /* border:2px solid red; */
    width:40%;
    text-align: center;
   
}
.midBtns{
    font-weight:bold;
    color:var(--bottomMenuTextColor);   
}
.midBtns:hover,#clearButton:hover{

    color:var(--buttonsHoverColor)
}

#itemsLeft{
    display:inline-block;
}

button,.todo{
    cursor:pointer;
}
#activeButton{
    margin:0 4%;  
}
#clearButton{
    color:var(--bottomMenuTextColor);  
}




#tip{
    width:100%;
    height:15%;                                   /*tip 15 */
    display: flex;
    justify-content:center;
    align-items: center;
    color:var(--bottomMenuTextColor);
    /* border:1px solid red;   */
}













@media(max-width:1000px){
    #midItem{
        width:65%;
    }
}



@media(max-width:600px){
    #topItem{
        background-image:var(--backgroundImageMobile) ;
    }
    #midItem{
        width:86%;
    }
    
.todo{
    font-size: 12px;
    width:75%;
    /* color: var(--todoTextColor); */
}
    .delete{
          opacity:1;
          width:0.7em;
          height:0.7em;
          
    }
    #bottomMenu{
        padding:0 5%;
    }
    #bottomMenu div{
        display:none;
        /* padding:0 4%; */
    }
    .bullet{
        margin:0 4%;
    }
    #bottomMenuMob{
        display: block;
        border-radius: 5px;
        background-color: white;
        width:100%;
        height:7%;
        margin-top:4%;
        display:flex;
        justify-content: center;
        background-color: var(--itemBackgroundColor);
    }
    #listDiv{
        /* position:relative; */
        /* box-shadow: var(--boxShadow); */
        box-shadow: var(--boxShadowMob);
    }
    input[type='text'],#tip{
        font-size: 12px;
    }
    h1{
        font-size:1.5em;
     }
     #moon,#sun{
        width:1.5em;
        height:1.5em;
     }

    }

@media(max-width:375px){
    #topItem{
        background-image:var(--backgroundImageMobile);
    }
}
